.show{
    visibility: visible;
    z-index: 10;
}

.popupcontent{
    visibility: inherit;
}

#popup{
    visibility: hidden;
    width: 160px;
    height: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    bottom: 200%;
    left: 50%;
    margin-left: -300px;
}

.tiles{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
}

.card{
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.card:hover{
    background-color:bisque;
}

.card img, .card video{
    display: block;
    margin: auto;
    width:50%;
    height: 75%;
    float: left;
}

.card .desc{
    text-align: center;
    width:50%;
    height: 100%;
    float: right;
}

.header .date{
    float: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header h3, .header h4{
    float: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header .italicize{
    font-style: italic; 
    font-weight: normal;
    font-size: 12pt;
}

hr, ul{
    margin: 3px;
}

.experience{
    margin: 0px;
}

.resume-info{
    text-align: center;
}

.clear{
    clear: both;
}

.resume-section h2{
    font-size: 14pt;
    padding: 0px;
    margin: 0px;
}

.navbar, .foot{
    background-color: black;
    list-style: none;
    padding: 1.5em;
    text-align: center;
}
.navbar li, .foot li{
    color: white;
    display: inline;
    margin: 2em;
    padding: 1em, 0em;
}

.navbar li a, .foot li a{
    font-size: 20pt;
    color: white;
    text-decoration: underline;
}

.navbar li a:visited, .foot li a:visited{
    color: bisque;
}

.navbar li a:hover, .foot li a:hover{
    color: grey;
}
